<div *ngFor="let item of recursiveList">
  <div *ngIf="item.isFolder">
    <div class="p-2" [ngClass]="item.isSelected ? 'bg-secondary-subtle' : ''">
      <fa-icon
        class="pe-3 ps-1"
        [icon]="toggleAngle(item)"
        (click)="toggleIsOpen(item)"
      ></fa-icon>
      <fa-icon class="me-1" [icon]="setIcon(item)"></fa-icon>
      <span (click)="toggleSelected(item)">
        {{ item.name }}
      </span>
    </div>
    <div *ngIf="item.isOpen" class="ps-3">
      <app-recursive [recursiveList]="item.list"></app-recursive>
    </div>
  </div>
</div>
